<ul>
  <% @study_items.each do |item| %>
  <a href="<%= study_item_path(item.id) %>">
    <li>
      <%= item.title %>
    </li>
  </a>

  <%= link_to(item.full_title, study_item_path(item.id)) %>
  <% end %>
</ul>